body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white; /* Cambia este color por el que prefieras */
    text-decoration: none; /* Opcional: Elimina el subrayado */
    margin: 0 15px; /* Añade separación horizontal entre los enlaces */
    padding: 5px 10px; /* Opcional: Añade espacio interno alrededor del texto */
    display: inline-block; /* Asegura un buen comportamiento del espaciado */
}

header nav a:hover {
    color: white; /* Cambia el color al pasar el mouse (opcional) */
    background-color: #1c7ad7; /* Opcional: Fondo al hacer hover */
    border-radius: 5px; /* Opcional: Bordes redondeados al hacer hover */
}


header .logo {
    width: 50px;
    vertical-align: middle;
}

main {
    padding: 20px;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
